
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروش اینترنتی   | @ViewData["Title"]</title>
   <partial name="_HeaderReferences"/>
</head>
<body>
   @await Component.InvokeAsync("SiteHeader")
   @RenderBody()
   @await Component.InvokeAsync("SiteFooter")
<partial name="_FooterReferences"/>
<partial name="_SiteMessages"/>

@RenderSection("FooterScripts",false)

</body>
</html>