@model CampShoping.Domiain.ViewModel.Account.LoginUserViewModel
@{
    ViewData["Title"] = "ورود";
}


@section FooterScripts{
    <partial name="_ValidationScriptsPartial" />
}


<div class="row d-flex justify-content-center">

    <div class="col-lg-7 col-xl-6 col-md-9 login">

        <div class="card my-5">

            <div class="card-body">
                <h5 class="shadow-sm text-center mb-4 py-3"> ورود به سایت </h5>

                <form asp-controller="Account" asp-action="Login" method="post">
                    <p>
                        @User.Identity.IsAuthenticated
                    </p>


                    <div class="form-group">
                        <label for=""> آدرس ایمیل: </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text  my-icon"> <i class="fa fa-user-plus align-middle"></i></span>
                            </div>
                            <input asp-for="Email" class="form-control" placeholder="">

                        </div>
                        <p>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </p>
                    </div>





                    <div class="form-group">
                        <label for=""> رمز عبور : </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text  my-icon"> <i class="fa fa-lock align-middle"></i></span>
                            </div>
                            <input asp-for="Password" class="form-control" placeholder="">
                        </div>
                        <p>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </p>
                    </div>



                    <div class="form-group">
                        <label for=""> مرا بخاطر بسپار : </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text  my-icon"> <i class="fa fa-lock align-middle"></i></span>
                            </div>
                            @*<input type="checkbox"  class="form-control" placeholder="">*@
                        </div>






                        <div class="form-check-inline">
                            <label class="form-check-label"><input asp-for="RememmbMe" type="checkbox" class="form-check-input vazir ml-2" value=""></label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block rounded-pill custom-btn font-13 my-3">ورود </button>

                        <p class="text-center my-3  font-12 vazir">رمز عبور خود را فراموش کرده اید؟ <a href="forget-password.html" class="login">بازیابی رمز عبور</a></p>

                        <p class="text-center my-3  font-12 vazir">هنوز در سایت ثبت نام نکرده اید ؟ <a href="sign-up.html" class="login">ثبت نام</a></p>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

