
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ُفروشگاه  | @ViewData["Title"]</title>
   <partial name="_HeaderReferences"/>
</head>
<body>
@await Component.InvokeAsync("SiteHeader")
<!----- Start menu ----->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm sticky-top">

    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav pr-0 custom-navbar font-14 text-center">
                <li class="nav-item ml-3 custom-nav-item"><a href="/" class="nav-link">صفحه اصلی</a></li>
                <li></li>
                @RenderSection("container", false)
                <li class="nav-item ml-3 dropdown custom-nav-item">
                    <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown">دوره های آموزشی</a>

                    <div class="dropdown-menu custom-dropdown-menu dropdown-menu-right font-13 text-right">
                        <a href="course.html" class="dropdown-item border-bottom py-2">دوره متخصص طراحی سایت</a>
                        <a href="course.html" class="dropdown-item border-bottom py-2">دوره آموزش برنامه نویسی اندروید</a>
                        <a href="course.html" class="dropdown-item border-bottom py-2">دوره جامع آموزش فتوشاپ</a>
                        <a href="course.html" class="dropdown-item border-bottom py-2">دوره آموزش پایتون</a>
                        <a href="course.html" class="dropdown-item py-2">دوره جامع آموزش وردپرس</a>
                    </div>

                </li>
                <li class="nav-item ml-3 dropdown custom-nav-item">
                    <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown">صفحات</a>

                    <div class="dropdown-menu  custom-dropdown-menu dropdown-menu-right font-13 text-right">
                        <a href="panel-user.html" class="dropdown-item border-bottom py-2">پنل کاربری</a>
                        <a href="search.html" class="dropdown-item border-bottom py-2">جستجو</a>
                        <a href="error404.html" class="dropdown-item py-2">Error 404</a>
                    </div>

                </li>
                <li class="nav-item ml-3 custom-nav-item"><a href="blog.html" class="nav-link">بلاگ</a></li>
                <li class="nav-item ml-3 custom-nav-item"><a href="contact-us.html" class="nav-link">تماس باما</a></li>
            </ul>
        </div>
    </div>

</nav>
<!----- End menu ----->


        <div class="col-12 col-lg-3">
            <div class="card bg-info my-5 p-5">
                <img src="images/user.png" class="img-fluid rounded-circle d-block mx-auto" width="120px" height="120px" alt="user-image">
                <h5 class="text-white text-center mt-3">کاربر : علی نوروزی</h5>
            </div>
            <div class="text-right">
                <div class="list-group p-0 mb-5 profile">
                    <a href="#vaziyat" class="active list-group-item list-group-item-action font-14" data-toggle="list"> <i class="fa fa-cog align-middle ml-2"></i>مرور وضعیت </a>
                    <a href="#dore-signup" class="list-group-item list-group-item-action" data-toggle="list"> <i class="fa fa-server  align-middle ml-2"></i>دوره هایی که ثبت نام کرده اید </a>
                    <a href="#shopping-cart" class="list-group-item list-group-item-action " data-toggle="list"><i class="fa fa-shopping-cart align-middle ml-2"></i>سبد خرید </a>
                    <a href="#ticket" class="list-group-item list-group-item-action " data-toggle="list"><i class="fa fa-tags align-middle ml-2"></i>تیکت ها </a>
                    <a href="#user-change" class="list-group-item list-group-item-action" data-toggle="list"><i class="fa fa-address-card align-middle ml-2"></i> تغییر مشخصات  </a>
                    <a href="index.html" class="list-group-item list-group-item-action"> <i class=" fa fa-window-close align-middle ml-2"></i> خروج</a>
                </div>
            </div>
        </div>



@RenderBody()
@await Component.InvokeAsync("SiteFooter")
<partial name="_FooterReferences"/>
<partial name="_SiteMessages"/>

@RenderSection("FooterScripts", false)

</body>
</html>